<head>
  <meta charset="utf-8">
  <link href="{{ site.baseurl }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- 🛡️ FUENTE LOCAL: Purgada la dependencia de Google Fonts -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css">
  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">

  <!-- 🛡️ AUDITORÍA SEO: Asegúrate de que seo.html no inyecte analíticas -->
  {% include seo.html %}

</head>
